.AdminContainer {
  min-height: 100vh;
  background-color: #eff3f9 !important;
  &__Header {
    background-color: #1890ff;
    padding: 17px;
  }
  &__Content {
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
}