html {
  scroll-behavior: smooth;
}

#root {
  min-height: 100vh;
}

.ant-card-body {
  padding: 20px 20px 15px !important;
}

.ant-menu {
  .anticon {
    font-size: 16px;
    line-height: 16px;
    margin-right: 15px;
  }
  .ant-menu-item {
    line-height: 45px;
    height: 45px;
  }
}

.ant-table-selection-column {
  min-width: 0 !important;
  width: 16px !important;
}

.ant-table-expand-icon-th, .ant-table-row-expand-icon-cell {
  text-align: center;
  min-width: 0 !important;
  width: 16px !important;
  padding-left: 15px !important;
}