.Entity {

}

.list-report {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: min-content;
  grid-column-gap: 2px;
  li {
    width: 120px;
    height: 120px;
    background-color: #ccc;
    margin-bottom: 2px;
  }
}