.Section {
  $self: &;
  display: grid;
  grid-template-areas:
          'title options'
          'actions actions'
          'body body'
          'footer footer';
  //grid-gap: 1em;

  &__title {
    grid-area: title;
    margin-bottom: 16px;
    * {
      margin: 0 0;
    }
  }

  &__actions {
    grid-area: actions;
    margin-bottom: 16px;
  }

  &__options {
    grid-area: options;
    justify-self: end;
    align-self: end;
    margin-bottom: 16px;
  }
  &__body {
    grid-area: body;
    .noContent {
      text-align: center;
      font-size: 40px;
      opacity: 0.16;
    }
  }
  &__footer {
    grid-area: footer;
    justify-self: center;
    margin-top: 16px;
  }
}