/* Material Icons Font (for MD theme) */
// @font-face {
//   font-family: 'Material Icons';
//   font-style: normal;
//   font-weight: 400;
//   src: url(./fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
//   src: local('Material Icons'),
//   local('MaterialIcons-Regular'),
//   url(./fonts/MaterialIcons-Regular.woff2) format('woff2'),
//   url(./fonts/MaterialIcons-Regular.woff) format('woff'),
//   url(./fonts/MaterialIcons-Regular.ttf) format('truetype');
// }

// .material-icons {
//   font-family: 'Material Icons';
//   font-weight: normal;
//   font-style: normal;
//   font-size: 24px;  /* Preferred icon size */
//   display: inline-block;
//   line-height: 1;
//   text-transform: none;
//   letter-spacing: normal;
//   word-wrap: normal;
//   white-space: nowrap;
//   direction: ltr;

//   /* Support for all WebKit browsers. */
//   -webkit-font-smoothing: antialiased;
//   /* Support for Safari and Chrome. */
//   text-rendering: optimizeLegibility;

//   /* Support for Firefox. */
//   -moz-osx-font-smoothing: grayscale;

//   /* Support for IE. */
//   font-feature-settings: 'liga';
// }

/* Framework7 Icons Font (for iOS theme) */
// @font-face {
//   font-family: 'Framework7 Icons';
//   font-style: normal;
//   font-weight: 400;
//   src: url("./fonts/Framework7Icons-Regular.eot");
//   src: url("./fonts/Framework7Icons-Regular.woff2") format("woff2"),
//   url("./fonts/Framework7Icons-Regular.woff") format("woff"),
//   url("./fonts/Framework7Icons-Regular.ttf") format("truetype");
// }

// .f7-icons {
//   font-family: 'Framework7 Icons';
//   font-weight: normal;
//   font-style: normal;
//   font-size: 25px;
//   line-height: 1;
//   letter-spacing: normal;
//   text-transform: none;
//   display: inline-block;
//   white-space: nowrap;
//   word-wrap: normal;
//   direction: ltr;
//   -webkit-font-smoothing: antialiased;
//   text-rendering: optimizeLegibility;
//   -moz-osx-font-smoothing: grayscale;
//   -webkit-font-feature-settings: "liga";
//   -moz-font-feature-settings: "liga=1";
//   -moz-font-feature-settings: "liga";
//   font-feature-settings: "liga";
//   text-align: center;
// }

._screens {
  .list {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
  }
}

.smart-select-popup {
  z-index: 99999;
}

.list {
  margin: 5px 0 0!important;
}

.searchbar-expandable {
  margin-left: unset !important;
  width: 100% !important;
  transition-duration: .15s !important;
  transform: translateX(100%) !important;
  left: unset !important;
}

.searchbar-enabled {
  transform: translateX(0) !important;
}

.md .tabbar i.icon, .md .tabbar-labels i.icon {
  height: 20px !important;
  font-size: 20px !important;
}

.md .tabbar-labels.toolbar-bottom-md .tabbar-label {
  font-size: 12px;
  //font-weight: bolder !important;
}

.md .tabbar-labels.toolbar-bottom-md {
  height: 52px;
}